body 
{
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 20px;
}

h1 
{
    font-size: 28px;
}

table 
{
    width: 100%;
    border-collapse: separate;
    /* border-collapse: collapse; */
    margin-top: 20px;
}

th, td 
{
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th 
{
    background-color: #f4f4f4;
}

td 
{
    font-size: 18px;
}