<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles4.css') }}">
</head>
<body>
    <h1>Transaction History</h1>
    <h3>Username: {{  username  }}</h3>
    <a href="{{ url_for('wallet_view') }}">Back to Wallet</a>
    {% if transactions %}
        <table>
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Sender ID</th>
                    <th>Receiver ID</th>
                    <th>Amount</th>
                    <th>Transaction Type</th>
                    <th>Date & Time</th>
                </tr>
            </thead>
            <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{  transaction['transaction_id']  }}</td>
                        {% if transaction['sender_id'] == id %}
                            {% if transaction['transaction_type'] == 'User to User' %}
                                <td>You</td>
                            {% else %}
                                <td></td>
                            {% endif %} 
                        {% else %}
                            <td>{{ transaction['sender_id'] }}</td>
                        {% endif %}

                        {% if transaction['receiver_id'] == id %}
                            <td>You</td>
                        {% else %}
                            {% if transaction['transaction_type'] == 'User to User' %}
                                <td>{{ transaction['receiver_id'] }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endif %}



                        {% if transaction['transaction_type'] == 'Deposit'%}
                            <td style="color: #08f308;">{{ transaction['amount'] }}</td>

                        {% elif transaction['transaction_type'] == 'Withdraw'%}
                            <td style="color: red;">{{ transaction['amount'] }}</td>

                        {% elif transaction['transaction_type'] == 'User to User'%}
                        
                            {% if transaction['receiver_id'] == id %}
                                <td style="color: #08f308;">{{ transaction['amount'] }}</td>
                            {% else %}
                                <td style="color: red">{{ transaction['amount'] }}</td>
                            {% endif %}

                        {% endif %}

                        <td>{{  transaction['transaction_type']  }}</td>
                        <td>{{ transaction['timestamp'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No transactions found.</p>
    {% endif %}
</body>
</html>
